.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 30px;
    border-radius: 40px;
    background: linear-gradient(267deg,#DA7C25 .36%,#B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
}
.nav-connect:hover{
 transform: scale(1.05);
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-menu li {
    position: relative;
}
/*For hover effect*/
.anchor-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.anchor-link:hover::after {
    transform: scaleX(1);
}
